<div id="<%= dom_id producto %>">
  <div>
    <strong>Nombre:</strong>
    <%= producto.nombre %>
  </div>

  <div>
    <strong>Precio:</strong>
    <%= producto.precio %>
  </div>

  <div>
    <strong>Descripcion:</strong>
    <%= producto.descripcion %>
  </div>

  <div>
    <strong>Imagen:</strong>
    <%= producto.imagen %>
  </div>

</div>
