<div class="container">

  <h1 class="titulo">🍰 Nuestros Postres</h1>
   <%= form_with url: root_path, method: :get, local: true, class: "buscador" do %>
  <%= text_field_tag :q, params[:q], placeholder: "Buscar postres..." %>
  <%= submit_tag "Buscar", class: "btn" %>
   <% end %>
  <% if admin? %>
    <%= link_to "Nuevo producto ➕", new_producto_path, class:"btn" %>
  <% end %>

  <div class="productos-grid">

    <% @productos.each do |producto| %>

      <div class="producto-card">

        <% if producto.imagen.present? %>

          <%= image_tag "productos/#{producto.imagen}",
          class:"producto-img" %>

        <% else %>

          <img
          src="https://via.placeholder.com/400x400"
          class="producto-img">

        <% end %>

        <div class="producto-info">

          <h3><%= producto.nombre %></h3>

          <p class="precio">
            $<%= producto.precio %>
          </p>

          <p class="stock">
            Stock: <%= producto.stock %>
          </p>

          <%= link_to "Ver detalle",
          producto_path(producto),
          class:"btn" %>

          <%= button_to "Agregar 🛒",
          agregar_carrito_path(producto),
          method: :post,
          class:"btn" %>

          <% if admin? %>

            <div class="admin-actions">

              <%= link_to "Editar ✏️",
              edit_producto_path(producto),
              class:"btn" %>

              <%= button_to "Eliminar ❌",
              producto_path(producto),
              method: :delete,
              class:"btn" %>

            </div>

          <% end %>

        </div>

      </div>

    <% end %>

  </div>

</div>
