<div class="detalle-producto">

  <div class="detalle-imagen">

    <% if @producto.imagen.present? %>

      <img src="/productos/<%= @producto.imagen %>">

    <% else %>

      <img src="https://via.placeholder.com/500x500">

    <% end %>

  </div>

  <div class="detalle-info">

    <h1><%= @producto.nombre %></h1>

    <p class="precio-detalle">
      $<%= @producto.precio %>
    </p>

    <p>
      <strong>Descripción:</strong><br>
      <%= @producto.descripcion %>
    </p>

    <p>
      <strong>Stock:</strong>
      <%= @producto.stock %>
    </p>

    <%= button_to "Agregar al carrito 🛒",
      agregar_carrito_path(@producto),
      method: :post,
      class:"btn" %>

  </div>

</div>
