<!DOCTYPE html>
<html>
<head>
  <title>Dulce Delicia</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>

<header class="navbar">
  <div class="logo">
    <%= link_to "🍰 Dulce Delicia", root_path %>
  </div>

  <nav class="menu">
    <%= link_to "Inicio", root_path %>
    <%= link_to "Carrito", carritos_path %>
    <%= link_to "Mis pedidos", pedidos_path %>

    <% if sesion_iniciada? %>
      <% if admin? %>
        <%= link_to "Panel Admin", admin_pedidos_path %>
        <%= link_to "Nuevo producto", new_producto_path %>
      <% end %>

      <span>Hola, <%= usuario_actual.nombre %></span>

      <%= button_to "Cerrar sesión", logout_path, method: :delete, class: "btn btn-light" %>
    <% else %>
      <%= link_to "Iniciar sesión", login_path %>
      <%= link_to "Registrarse", registro_path %>
    <% end %>
  </nav>
</header>

<main class="main-container">
  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>

  <% if alert %>
    <div class="alert"><%= alert %></div>
  <% end %>

  <%= yield %>
</main>

<footer class="footer">
  <p>© 2026 Dulce Delicia - Postres hechos con amor 💖</p>
</footer>

</body>
</html>
